This exercise uses the SMA Dataset, imported into a Pandas dataframe called 'sma_data'. You can find the dataset here: https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv

In [3]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

1. What is the shape of the dataframe 'sma_data'? 

* (99,10)
* (100,10)
* (10,100)
* (10,99)

In [4]:
data.shape

(99, 10)

2. How many entries are there in the dataframe sma_data?

* 100
* 99
* 1000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB

3. Which of the following method will help you display the last five observations from the dataframe?

* head()
* tail()

In [6]:
data.tail()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
94,1511,38.7,10.7,348,1093,50.4,127.2,1452,4,70.66
95,1543,39.6,8.1,159,481,30.3,80.6,769,3,36.36
96,1011,37.8,10.5,264,964,70.7,93.2,1337,3,60.16
97,813,13.4,10.9,371,4355,58.0,97.0,1589,1,36.33
98,654,28.8,3.9,140,1296,55.1,66.9,1148,3,68.76

4. Select the correct statement about the data types of different columns.

* The data type of land_area is integer
* There are 5 columns whose data type is float
* There are 5 columns whose data type is integer
* All of the above are correct
* None of the above are correct

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB