This question uses the Titanic Dataset, available here: https://raw.githubusercontent.com/dphi-official/Datasets/master/titanic_data.csv

In [1]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/titanic_data.csv")

1. Check if the dataset has any missing values or not. If there are any missing values, then which of the following columns are they? [Note: If there is no missing value, then select the last option]

* Age
* Cabin
* Embarked
* All of the above 
* Only 1 and 3

In [2]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

2. Find the mean value of Age column and assign it to a variable age_mean_before. Fill the missing value of the column Age with the mean value i.e. age_mean_before. [To calculate mean you can directly use mean() method on the Age column]. After filling the missing value of the column Age, find the mean of column Age again and assign it to a variable age_mean_after. Select the correct answer.

* The mean value before filling the missing value (i.e. mean_value_before) and the mean value after filing the missing value (i.e. mean_value_after) are same (consider mean value upto 2 decimal places in both the cases)
* The mean value before filling the missing value (i.e. mean_value_before) and the mean value after filing the missing value (i.e. mean_value_after) are not same (consider mean value upto 2 decimal places in both the cases)
* Non of the above

In [3]:
age_mean_before = data['Age'].mean()
sample_data = data["Age"].fillna(data["Age"].mean())
age_mean_after = sample_data.mean()
print("Age mean before: ", age_mean_before)
print("Age mean after: ", age_mean_after)

Age mean before:  29.69911764705882
Age mean after:  29.69911764705882

3. Find the maximum occurring value/category in the column Embarked [Hint: value_counts()]. Fill the missing value in this column Embarked with the maximum occurring value. Select the correct statement.

* The number of occurrence of category 'S' after filling the missing value and before filling the missing value is same.
* The number of occurrence of category 'C' after filling the missing value and befor filling the missing value are same.
* The number of occurrence of category 'Q' after filling the missing value and before filling the missing value is not the same.
* All of the above are correct
* None of the above are correct

In [10]:
sample_data = data["Embarked"]
count_before = sample_data.value_counts() #S 644, C 168, Q 77 // T 889
sample_data_after = sample_data.fillna("S")
count_after = sample_data_after.value_counts() #S 646, C 168, Q 77 // T 891

891