This exercise uses the SMA Dataset, imported into a Pandas dataframe called 'sma_data'. You can find the dataset here: https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv

In [12]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

1. Use the index-based selection technique to select the 10th observation from data frame sma_data. What is the crime_rate for this observation? [Remember indexing in Python starts with 0, so if you have to select nth observation, you should get the observation present at index n-1]

* 30.51
* 55.30
* 54.16
* 52.73
* None of the above

In [14]:
data.iloc[0:10,9]

0    75.55
1    56.03
2    41.32
3    67.38
4    80.19
5    58.48
6    72.25
7    64.88
8    30.51
9    55.30
Name: crime_rate, dtype: float64

2. Select the physicians column. Get the last value from physicians column.

* 140
* 135
* 145
* 142
* None of the above

In [28]:
data.iloc[-1:len(data), 3]

98    140
Name: physicians, dtype: int64

3. Select the records with index labels (numerical positions) - 1, 3, 5, 7, 9 and 13 and columns - 'land_area', 'work_force', 'income', 'region' and 'crime_rate'. Assign the result to a variable sample_data1. Select the correct statement about this sample_data1. [Hint: Use label-based selection technique]

* The crime rates are less than 70 for all the observations in the dataframe sample_data
* The observation indexed at 13 has income of 12591
* Both of the above are correct
* None of the above are correct

In [32]:
data.loc[[1,3,5,7,9,13], ["land_area","work_force","income","region","crime_rate"]]

    land_area  work_force  income  region  crime_rate
1        3719      3305.9   54542       2       56.03
3        3916      1966.7   32906       2       67.38
5        2815      1541.9   25663       3       58.48
7        6794      1272.7   18221       3       64.88
9        4647      1032.2   14542       2       55.30
13        782       915.2   12591       4       63.20

4. Select the observations for which the region is equal to 2. Assign the result to a variable sample_data2. How many observations are there in the dataframe sample_data2? [Hint: sma_data.region is equal to?]

* 25
* 10
* 43
* 63
* 37

In [46]:
sample_data = data.loc[:,"region"] == 2
sample_data.value_counts() #False 74, True 25

region
False    74
True     25
Name: count, dtype: int64